body {
    background-color: rgb(89, 122, 138);
}

#vline {
    border-left: 2px solid #323232;
    height: 120px;
    float: right;
    margin-left: 10px;
    transform: translate(0%, -10%);
    display: inline-block;
    display: none;
}

#twtr {
    background-color: rgb(0, 184, 238);
    box-shadow: 2px 2px 6px 0px #000 inset;
    float: right;
    margin-right: 20px;
    color: black;
}

#intro {
    font-family: Helvetica Neue;
    font-weight: 100;
    font-size: 22px;
    text-align: justify;
    padding: 10px 50px 0px 50px;
}

#titletext {
    color: rgb(242, 151, 87);
    font-family: Helvetica Neue;
    font-weight: lighter;
    font-size: 50px;
    text-align: center;
    position: absolute;
    margin-left: 37.5%;
}

#button {
    padding-left: 6px;
    padding-top: 2px;
    float:left;
    text-align: center;
    cursor: pointer;
    color: rgb(160, 47, 50);
    font-size: 59px;
/*    sidebar color 89, 122, 138*/
}

#sidebar {
    display: none;
	height: 150px;
	background-color: rgb(71, 45, 39);
}

#mottoout {
    text-align: center;
}

#motto {
    background-color: rgb(240, 129, 73);
    border-bottom: 2px solid black;
    box-shadow: 0px 1px 6px 0px #000;
    padding: 10px 10px 10px 10px;
    font-family: Helvetica Neue;
    font-weight: 100;
    font-size: 23px;
    display: none;
}

#cont1 {
    width: 80%;
}

.link {
    background-color: rgb(52, 48, 45);
    margin-left: 20px;
    margin-bottom: 25px;
    width: 225px;
    height: 30px;
    padding-top: 10px;
    text-align: center;
    display: inline-block;
    border-radius: 13px;
    cursor: pointer;    
    font-size: 20px;
    font-family: Helvetica Neue;
    font-weight: 100;
    color: #cbcfd2;
    box-shadow: 1px 1px 6px 0px #000 inset;
}

#menubar {
    display:table-cell;
    width: 100%;
	background-color:rgb(193, 57, 62);
    box-shadow: 0px 1px 6px 0px #000;
    position: relative;
}

#credits {
    background-color: rgb(71, 45, 39);
    color: rgb(107, 69, 55);
    bottom: 0px;
    position: fixed;
    width: 100%;
    border-top: solid rgb(52, 48, 45) 2px;
    font-family: Helvetica Neue;
    line-height: 25px;
    text-indent: 10px;
}

/*no margin or padding svp*/
* {
    margin: 0px;
    padding: 0px;
}